.div-btn-login{
  position: absolute;
  background-image: url("./resources/connect/frame.png");
  background-size: cover;
  color: #FFFFFF;
  width: 175px;
  height: 35px;
  right: 10px;
  padding-left: 22px;
  padding-top: 15px;
}
.div-btn-login:hover{
  background-image: url("./resources/connect/overlaylogin.png");
  cursor: pointer;
}
.txt-btn-login{
  position: relative;
  left: 0px;
  width: 125px;
  text-align: center;
  font-family: 'Inter';
  cursor: pointer;
  font-weight: 500;
  display: inline-block;
}

.img-wallet-connect{
  width: 15px;
  display: inline-block;
  color: #FFFFFF;
}
.img-wallet-connect:hover{
  fill: #FFFFFF;
}

.div-wallets-login{
  position: absolute;
  top: 70px;
  background-image: url("./resources/connect/marcodropdown.png");
  background-size: cover;
  width: 250px;
  height: 335px;
  right: 10px;
}
.div-link{
  background-image: url("./resources/connect/box_unselected.png");
  background-size: cover;
  width: 210px;
  height: 44px;
  padding-top: 12px;
  padding-left: 10px;
  margin-top: 20px;
  margin-left: 15px;
}
.div-link:hover{
  background-image: url("./resources/connect/box_hover.png");
}
.btn-link{
  display: block;
  width: 200px;
  text-align: left;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 20px;
}
.img-wallet{
  max-width: 35px;
  max-height: 35px;
  margin-right: 10px;
  vertical-align: middle;
}
.img-wallet-plug{
  max-width: 35px;
  max-height: 35px;
  margin-right: 15px;
  vertical-align: middle;
  margin-left: 5px;
}

.div-wallet-connected{
  background-image: url("./resources/connect/frame.png");
  background-size: cover;
  position: absolute;
  right: 10px;
  width: 175px;
  height: 35px;
  padding-left: 22px;
  padding-top: 15px;
}
.div-wallet-connected:hover{
  cursor: pointer;
  background-image: url("./resources/connect/overlaylogin.png");
}
.img-wallet-connected{
  width: 15px;
  display: inline-block;
  color: #FFFFFF;
  margin-right: 15px;
  vertical-align: middle;
}
.img-wallet-connected:hover{
  fill: #FFFFFF;
}
.txt-wallet{
  color: #FFFFFF;
  cursor: pointer;
}

.div-panel-option{
  background-image: url("./resources/connected/frame_options.png");
  background-size: cover;
  position: absolute;
  right: 10px;
  width: 250px;
  height: 161px;
  top: 70px;
}

.div-option{
  background-image: url("./resources/connect/box_unselected.png");
  background-size: cover;
  width: 230px;
  height: 40px;
  margin-left: 10px;
  margin-top: 15px;
  padding-top: 18px;
}
.div-option:hover{
  background-image: url("./resources/connect/box_hover.png");
  cursor: pointer;
}

.txt-option{
  color: #FFFFFF;
  cursor: pointer;
  margin-left: 15px;
}
.img-option{
  max-width: 40px;
  max-height: 30px;
  margin-right: 20px;
  vertical-align: middle;
  margin-left: 10px;
}
.img-option-copy{
  max-width: 40px;
  max-height: 40px;
  margin-right: 10px;
  vertical-align: top;
}